.btn-cancel {
    background-color: #f55555;
    color: white;
    &:hover {
        background-color: rgb(82, 7, 7);
    }
}

.btn-primary {
    background-color: #34c759;
    color: white;
    &:hover {
        background-color: rgb(7, 82, 7);
    }
}

.btn-secondary {
    background-color: #ff9e43;
    color: white;
    &:hover {
        background-color: #763b04;
    }
}

.w-50 {
    width: 50%;
}

.w-49 {
    width: 49%;
}
