.MuiToolbar-regular .MuiOutlinedInput-input {
    padding-top: 8px;
    padding-bottom: 8px;
}

.text-overflow-control {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-light {
    font-weight: light;
}

.text-bold {
    font-weight: bold;
}

.MuiFormControl-marginNormal {
    margin: 0;
}
